# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv/
*.DS_Store

# === Environment Files ===
.env
.env.*

# === VSCode ===
.vscode/

# === Jupyter Notebooks ===
.ipynb_checkpoints/

# === OS Specific ===
Thumbs.db
.DS_Store

# === Logs and Dumps ===
*.log
*.pot
*.swp

# === Installer Files ===
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
wheels/

# === Virtualenv ===
venv/
ENV/
env/
